/* MOBILE-FIRST */

/* +++ COMMONS +++ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    clear: both;
    content: "";
    display: table;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}
/* +++ /COMMONS +++ */



/* +++ MAIN +++ */

/* MAIN COMMONS */
main{
    display: flex;
}

.container-page{
    width: calc(100% - 40px);
}
/* /MAIN COMMONS */

/* SIDEBAR */
#sidebar{
    height: calc(100vh - 80px);
    width: 40px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar .sb-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar .sb-box>*{
    width: 50%;
    margin: 5px 0;
    filter: opacity(.8);
}

#sidebar .bottom>img:first-of-type{
    width: 25%;
    margin-bottom: 18px;
    /* IL GRAFICO CI HA DATO UN'ICONA DECENTRATA!!!! */
    margin-left: -2px;
}

#sidebar .profile-box{
    height: 20px;
    text-align: center;
    background-color: #808080;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

#sidebar .top img:first-of-type, #sidebar .profile-box{
    filter: opacity(1);
}
/* /SIDEBAR */


/* HEADER */
#header{
    height: 80px;
    width: calc(100% - 40px);
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: end;
}

#header .upgrade{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 30px;
    padding: 12px 35px;
    margin-right: 5px;
}
/* /HEADER */


/* CONTENUTO */
#content{
    background-color: #141922;
}
/* /CONTENUTO */

/* +++ /MAIN +++ */



/* +++ FOOTER +++ */
footer{
    height: 80px;
    width:100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;

    display: flex;
}

/* Footer Left */
.footer-box.left{
    max-width: 30%;
    flex-grow: 0;
    display: flex;
    justify-content: start;
    align-items: center;
}

footer .left>*{
    margin: 0 5px;
}

footer .left img{
    max-height: 40%;
    max-width: 40%;
    margin-left: 8px;
}

footer .left .text-box h5{
    font-size: 12px;
}

footer .left .text-box .artista{
    font-size: 10px;
    color: #5a5a5a;
}

footer .left .icon-box{
    display: flex;
    flex-direction: column;
}

footer .left .icon-box i{
    margin: 2px 0;
    color: #5a5a5a;
}


/* Footer Center */
.footer-box.center{
    width: 40%;
    min-width: 150px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 20px;
}

footer .center .action-box{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .center .action-box i{
    font-size: 15px;
}

footer .center .action-box i:nth-of-type(3){
    font-size: 30px;
    margin: 0 10px;
}

footer .center .time-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 12px;
}

footer .center .time-listened, footer .center .time-total{
    font-size: 10px;
    margin: 0 5px;
}

footer .center .timeline{
    width: 80%;
    height: 4px;
    background-color: #5a5a5a;
    border-radius: 5px;
    position: relative;
}

footer .center .timeline.listened{
    width: 20%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
}

/* Footer Right */
.footer-box.right{
    width: 30%;
    flex-grow: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

footer .right>*{
    margin: 0 5px;
}

footer .right i{
    font-size: 13px;
}

footer .right .timeline{
    width: 80px;
    height: 4px;
    background-color: #5a5a5a;
    border-radius: 5px;
    position: relative;
}

footer .right .timeline.listened{
    width: 25%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
}

/* DA FIXARE:
Quando restringo molto la finestra le sezioni del footer
si sovrappongono in modo strano, per esempio l'immagine dell'album
non si rimpicciolisce subito ma solo dopo che le sezioni
si sono sovrapposte */

/* +++ /FOOTER +++ */





/* +++++++++++++++++++++++++++++++ */

/* MEDIAQUERY SM */
@media screen and (min-width: 576px){

}


/* MEDIAQUERY MD */
@media screen and (min-width: 768px){

}


/* MEDIAQUERY LG */
@media screen and (min-width: 992px){

}

/* +++++++++++++++++++++++++++++++ */




/* +++ DEBUG +++ */

/* SIDEBAR */
/* .debug #sidebar .sb-container{
    background-color: lightpink;
} */
/* /SIDEBAR */



/* HEADER */
/* .debug #header .upgrade{
    background-color: lightpink;
} */
/* /HEADER */


/* MAIN */
.debug #content{
    height: calc(100vh - 80px);
}
/* /MAIN */


/* FOOTER */
/* .debug .footer-box:nth-of-type(odd){
    background-color: lightpink;
}

.debug .footer-box:nth-of-type(even){
    background-color: lightblue;
}

.debug .left>*:nth-of-type(odd), .debug .center>*:nth-of-type(odd), .debug .right>*:nth-of-type(odd){
    background-color: rgb(255, 148, 148);
}

.debug .left>*:nth-of-type(even), .debug .center>*:nth-of-type(even), .debug .right>*:nth-of-type(even){
    background-color: rgb(95, 112, 83);
} */

/* /FOOTER */

/* +++ /DEBUG +++ */