/* MOBILE-FIRST */

/* +++ COMMONS +++ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    clear: both;
    content: "";
    display: table;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}
/* +++ /COMMONS +++ */



/* +++ MAIN +++ */

/* MAIN COMMONS */
main{
    display: flex;
}

.container-page{
    width: calc(100% - 40px);
}
/* /MAIN COMMONS */

/* SIDEBAR */
#sidebar{
    height: calc(100vh - 80px);
    width: 40px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar .sb-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar .sb-box>*{
    width: 50%;
    margin: 5px 0;
    filter: opacity(.8);
}

#sidebar .bottom>img:first-of-type{
    width: 25%;
    margin-bottom: 18px;
    /* IL GRAFICO CI HA DATO UN'ICONA DECENTRATA!!!! */
    margin-left: -2px;
}

#sidebar .profile-box{
    height: 20px;
    text-align: center;
    background-color: #808080;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

#sidebar .top img:first-of-type, #sidebar .profile-box{
    filter: opacity(1);
}
/* /SIDEBAR */


/* HEADER */
#header{
    height: 80px;
    width: calc(100% - 40px);
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: end;
}

#header .upgrade{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 30px;
    padding: 12px 35px;
    margin-right: 5px;
}
/* /HEADER */


/* CONTENUTO */
#content{
    background-color: #141922;
}
/* /CONTENUTO */

/* +++ /MAIN +++ */



/* +++ FOOTER +++ */
footer{
    height: 80px;
    width:100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;

    display: flex;
}

/* Footer Left */
.footer-box.left{
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
}

footer .left>*{
    margin: 0 5px;
}

footer .left img{
    height: 30px;
    width: 30px;
    margin-left: 8px;
}

footer .left .text-box h5{
    font-size: 12px;
}

footer .left .text-box .artista{
    font-size: 10px;
    color: #5a5a5a;
}

footer .left .icon-box{
    display: flex;
    flex-direction: column;
}

footer .left .icon-box i{
    margin-bottom: 3px;
}


/* Footer Center */
.footer-box.center{
    width: 40%;
}


/* Footer Right */
.footer-box.right{
    width: 30%;
}

/* +++ /FOOTER +++ */





/* +++++++++++++++++++++++++++++++ */

/* MEDIAQUERY SM */
@media screen and (min-width: 576px){

}


/* MEDIAQUERY MD */
@media screen and (min-width: 768px){

}


/* MEDIAQUERY LG */
@media screen and (min-width: 992px){

}

/* +++++++++++++++++++++++++++++++ */




/* +++ DEBUG +++ */

/* SIDEBAR */
/* .debug #sidebar .sb-container{
    background-color: lightpink;
} */
/* /SIDEBAR */



/* HEADER */
/* .debug #header .upgrade{
    background-color: lightpink;
} */
/* /HEADER */


/* MAIN */
.debug #content{
    height: calc(100vh - 80px);
}
/* /MAIN */


/* FOOTER */
.footer-box{
    height:100%;
}

.debug .footer-box:nth-of-type(odd){
    background-color: lightpink;
}

.debug .footer-box:nth-of-type(even){
    background-color: lightblue;
}
/* /FOOTER */

/* +++ /DEBUG +++ */